{
  "presets": ["es2015"],
  "plugins": ["array-includes",
    ["transform-es2015-modules-umd", {
      "globals": {
        "index": "clip"
      },
      "exactGlobals": true
    }]
  ],
  "ignore": ["node_modules"]
}
